
@{
    ViewBag.Title = "Pedidos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .ui-front {
        z-index: 9999999 !important;
    }

    .ui-autocomplete {
        max-height: 200px;
        overflow-y: auto;
        /* prevent horizontal scrollbar */
        overflow-x: hidden;
        /* add padding to account for vertical scrollbar */
        padding-right: 20px;
    } 
</style>

<h1 class="mt-4 mb-4">Pedidos</h1>

<div class="card mt-4">
    <div class="card-header">
        <i class="fas fa-arrow-alt-circle-right"></i> Lista de Pedidos
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <button type="button" class="btn btn-success" onclick="abrirModal(null)">Realizar Pedido</button>
            </div>
        </div>
        <hr />
        <table id="tabla" class="display cell-border" style="width: 100%">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Cantidad</th>
                    <th>Fecha de Pedido</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="FormModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h5 class="modal-title" id="exampleModalLabel">Pedidos</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="txtId" value="0" />
                <form id="contenedor" class="row">
                    <div class="col-sm-3">
                        <div class="mb-3">
                            <label class="form-label">Producto</label>
                            @*<select id="cboProducto" class="form-select"></select>*@
                            <input class="form-control" type="text" name="Producto" id="txtProducto"/>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="mb-3">
                            <label class="form-label">Cantidad</label>
                            <input type="number" class="form-control" id="txtCantidad" name="Cantidad" />
                        </div>
                    </div>
                </form>
                <!-- MENSAJE DE ALERTA -->
                <div class="row mt-2">
                    <div class="col-12">
                        <div id="MensajeError" class="alert alert-danger" role="alert"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="Guardar()">Guardar</button>
            </div>
        </div>
    </div>
</div>

@section scripts {
    
    <script>



        var tabladata;

        $(document).ready(function () {

            //TABLADATA: MUESTRA LOS LOS PEDIDOS REALIZADOS EN UNA TABLA, TRAYENDO LOS DATOS DESDE LA BD

            tabladata = $("#tabla").DataTable({
                responsive: true,
                ordering: false,
                "ajax": {
                    url: '@Url.Action("ListarPedidos","Reabastecimiento")',
                    type: "GET",
                    dataType: "json"
                },
                "columns": [
                    { "data": "nombre" },
                    { "data": "cantidad" },
                    { "data": "fechaPedido" }
                ],
                "language": {
                    "url": "https://cdn.datatables.net/plug-ins/1.12.1/i18n/es-ES.json"
                },
            });

        })


        $("#txtProducto").autocomplete({

            source: function (request, response) {

                $.ajax({
                    url: '@Url.Action("ListarProductosPEDIDOS", "Reabastecimiento")',
                    dataType: "json",
                    data: { search: $("#txtProducto").val() },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.nombre, value: item.nombre };
                        }))
                    },
                    error: function (xhr, status, error) {
                        alert("Error")
                    }
                });
            },
            minLength: 0,
            response: function (event, ui) {
                if (! ui.content.length) {
                    var noResult = { value: "", label: "No se Encuentran Resultados" };
                    ui.content.push(noResult);
                }
            }

        });


        function abrirModal(json) {

            $("#txtId").val(0);
            $("#txtProducto").val("");
            $("#txtCantidad").val("");
            $("#MensajeError").hide();

            $("#FormModal").modal("show")

        }

        $("#contenedor").validate({

            rules: {

                Producto: {
                    required: true
                },
                Cantidad: {
                    required: true,
                    number: true
                },
            },

            messages: {
                Producto: "- Debe seleccionar un producto",
                Cantidad: "- El campo cantidad es obligatorio",
            },
            errorElement: "div",
            errorLabelContainer: ".alert-danger"
        })

        function Guardar() {

            if (!$("#contenedor").valid()) {

                return;
            }

            //LLENA UN OBJETO CON LOS VALORES DE LOS INPUTS

            var today = new Date();

            var fecha = today.toLocaleDateString('es-AR');

            var Pedido = {

                idPedido: $("#txtId").val(),
                idProducto: {
                    nombre: $("#txtProducto").val(),
                },
                cantidad: $("#txtCantidad").val(),
                fechaPedido: fecha

            }

            jQuery.ajax({
                url: '@Url.Action("GuardarPedido", "Reabastecimiento")',
                type: "POST",
                data: JSON.stringify({ obj: Pedido }),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {

                    $(".modal-body").LoadingOverlay("hide");
                    Pedido.nombre = Pedido.idProducto.nombre;
                    tabladata.row.add(Pedido).draw(false);
                    $("#FormModal").modal("hide")
                    
                },
                error: function (error) {
                    $(".modal-body").LoadingOverlay("hide");
                    $("#MensajeError").text("Error Ajax");
                    $("#MensajeError").show();
                },
                beforeSend: function () {
                    $(".modal-body").LoadingOverlay("show", {
                        imageResizeFactor: 2,
                        text: "Cargando...",
                        size: 14
                    })
                },
            });

        }


    </script>
    
    
    }
