
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body class="bg-primary">
    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-5">
                            <div class="card shadow-lg border-0 rounded-lg mt-5">
                                <div class="card-header bg-dark">
                                    <img class="text-center" src="~/IMG/LOGO.png" />
                                </div>
                                <div class="card-body">
                                    <h3 class="text-center font-weight-light mb-3">Login</h3>
                                    <form action="@Url.Action("Index", "Acceso")" method="post">
                                        <div class="form-floating mb-3">
                                            <input class="form-control" name="correo" type="email" placeholder="test@gmail.com" />
                                            <label for="inputEmail">Email</label>
                                        </div>
                                        <div class="form-floating mb-3">
                                            <input class="form-control" name="clave" type="password" autocomplete="off" placeholder="1234" />
                                            <label for="inputPassword">Contraseña</label>
                                        </div>
                                        @{
                                            if (ViewBag.Error != null)
                                            {
                                                <div class="row mb-3">
                                                    <div class="alert alert-danger" role="alert">
                                                        @ViewBag.Error
                                                    </div>
                                                </div>
                                            }
                                        }
                                        <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                                            <a class="small" href="@Url.Action("ReestablecerClave", "Acceso")">Olvido su Contraseña?</a>
                                            <button class="btn btn-primary" type="submit">Ingresar</button>
                                        </div>
                                    </form>
                                </div>
                                <div class="card-footer text-center py-3">
                                    <div class="small"><a href="@Url.Action("RegistrarCliente", "Acceso")">No tienes una cuenta? Registrate Aqui!</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
    <script src="~/Scripts/bootstrap.bundle.js"></script>
</body>
</html>
